<h2>My tasks:</h2>

<ol>

<% @tasks.each do |task| %>
<% if task.completed %>
<i class="fa-solid fa-check"></i>
<% else %>
<i class="fa-regular fa-square"></i>
<% end %>
<li> <%= link_to task.title, task_path(task.id) %><%= link_to "  Edit", edit_path(task.id) %></li>
<li> <%= link_to "Delete", task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></li>
<% end %>

</ol>

<p><%= link_to "Add new task", new_path %></p>


